## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [33]:
import os
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [34]:
# 設定 data_path

In [53]:
f_app = os.path.join('../../home-credit-default-risk/application_train.csv')
# print(f_app)
# print('Path of read in data: %s' % (f_app))
csv = pd.read_csv(f_app)
print('aaaaaaa')
# a = csv.head()
# print(a)

print('success')

aaaaaaa
(307511, 122)
success

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [ ]:
shape = csv.shape
print(shape)

#### 列出所有欄位

In [56]:
columns = csv.columns
print(columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [62]:
data = csv.iloc[:15, :12]
print(data)

    SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0       100002       1         Cash loans           M            N
1       100003       0         Cash loans           F            N
2       100004       0    Revolving loans           M            Y
3       100006       0         Cash loans           F            N
4       100007       0         Cash loans           M            N
5       100008       0         Cash loans           M            N
6       100009       0         Cash loans           F            Y
7       100010       0         Cash loans           M            Y
8       100011       0         Cash loans           F            N
9       100012       0    Revolving loans           M            N
10      100014       0         Cash loans           F            N
11      100015       0         Cash loans           F            N
12      100016       0         Cash loans           F            N
13      100017       0         Cash loans           M            Y
14      100018       0         Cash loans           F            N

   FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                Y             0        202500.000    406597.5      24700.5
1                N             0        270000.000   1293502.5      35698.5
2                Y             0         67500.000    135000.0       6750.0
3                Y             0        135000.000    312682.5      29686.5
4                Y             0        121500.000    513000.0      21865.5
5                Y             0         99000.000    490495.5      27517.5
6                Y             1        171000.000   1560726.0      41301.0
7                Y             0        360000.000   1530000.0      42075.0
8                Y             0        112500.000   1019610.0      33826.5
9                Y             0        135000.000    405000.0      20250.0
10               Y             1        112500.000    652500.0      21177.0
11               Y             0         38419.155    148365.0      10678.5
12               Y             0         67500.000     80865.0       5881.5
13               N             1        225000.000    918468.0      28966.5
14               Y             0        189000.000    773680.5      32778.0

    AMT_GOODS_PRICE  NAME_TYPE_SUITE
0          351000.0    Unaccompanied
1         1129500.0           Family
2          135000.0    Unaccompanied
3          297000.0    Unaccompanied
4          513000.0    Unaccompanied
5          454500.0  Spouse, partner
6         1395000.0    Unaccompanied
7         1530000.0    Unaccompanied
8          913500.0         Children
9          405000.0    Unaccompanied
10         652500.0    Unaccompanied
11         135000.0         Children
12          67500.0    Unaccompanied
13         697500.0    Unaccompanied
14         679500.0    Unaccompanied

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子